name: build-and-deploy

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.11.1'             # Node 20 LTS is safe for most Angular versions

      - name: Cache npm
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-

      - name: Install dependencies
        run: npm ci

      - name: Build Angular app (production)
        run: |
          npm run build -- --output-path=dist/${{ env.PROJECT_NAME }} --configuration production --base-href "/${{ env.REPO_NAME }}/"
        env:
          PROJECT_NAME: 'cost'                                 # output folder name (dist/cost)
          REPO_NAME: 'Amazone-profit-calculator'               # repo name -> used in base-href

      - name: Debug: show dist contents
        run: |
          echo "present working dir: $(pwd)"
          ls -la
          if [ -d "dist" ]; then
            echo "dist directory:" && ls -la dist || true
            ls -la dist/${{ env.PROJECT_NAME }} || true
          else
            echo "No dist directory found"
            exit 1
          fi

      - name: Deploy to GitHub Pages (peaceiris)
        uses: peaceiris/actions-gh-pages@v3
        with:
          publish_dir: ./dist/cost
          github_token: ${{ secrets.GITHUB_TOKEN }}
